# Base settings to create the containers.
PROXY=proxy

PROJECT_NAME=rwint-ai-chat-local

IMAGE_NAME=rwint-ai-chat-site
IMAGE_TAG=local

SITE_DOMAIN=rwint-ai-chat-local.test

MYSQL_DB=rwint-ai-chat
MYSQL_USER=rwint-ai-chat
MYSQL_PASS=rwint-ai-chat

PHP_ENVIRONMENT=local
PHP_XDEBUG=true
